{% if negativeEmotionsData %}
    <h3>Negative Emotions:</h3>
    <ul>
        {% for item in negativeEmotionsData %}
            <li>{{ item.emotion }}: {{ item.count }}</li>
        {% endfor %}
    </ul>
    <p id="percentNegative">Percentage of negative emotions: {{ percentNegative }}%</p>
{% endif %}

{% for pdf_url in pdf_url %}
{% if 'corr_TD' in pdf_url %}
    <a href="{{ pdf_url }}">View the recommended material</a>
  {% endif %}
{% endfor %}


<script>
    var percentNegative = "{{ percentNegative }}";
    var notificationTitle = "Cours en ligne";
    var notificationText = "";

    function updatePercentage() {
        // Mettre à jour la valeur de percentNegative ici
        percentNegative = Math.floor(Math.random() * 100);
        document.getElementById("percentNegative").textContent = "Percentage of negative emotions: " + percentNegative + "%";

        // Mettre à jour le texte de la notification
        if (percentNegative >= 50) {
            notificationText = "Les émotions négatives de tous les étudiants sont à " + percentNegative + "%. Souhaitez-vous être redirigé vers des recommandations ?";
        }
    }

    function showNotification() {
        // Afficher la notification mise à jour
        var notification = new Notification(notificationTitle, {
            body: notificationText,
        });

        notification.addEventListener('click', function(event) {
            event.preventDefault();
            window.open('/recommendationins', '_blank');
        });
    }

    // Demander la permission pour afficher des notifications
    if (Notification.permission !== "granted") {
        Notification.requestPermission();
    }

    // Mettre à jour le pourcentage toutes les 2 minutes
    setInterval(updatePercentage,8000);

    // Afficher la notification mise à jour après 2 minutes
    setTimeout(showNotification, 8000);
</script>
