{% extends './base.html' %}

{% block content %}
<style>

#welcome-message{
    text-align: center;
    margin-bottom: 10px;
}

#welcome-message h1{
    font-size: 30px;
    animation: moveTitle 1s ease-in-out infinite alternate;
    color: black;
  }
  
  @keyframes moveTitle {
    from {
      transform: translateX(0);
      color: black;
    }
    to {
      transform: translateX(10px);
      color:  #1b6fc3;
    }
}

</style>
<div class="row">
    <div class="col-md-12"  style=" margin-top: 50px; font-family: Comic Sans MS, Comic Sans, cursive;">
        <section id="form-container">

       
           
        </section>
        
        
          
            
       <form id="form">   
        <div class="form-group">
        
            <div class="input-group">
                <select  class="form-control" id="name-input" onchange="showDashboard()">
                    <option value="" selected>Choose a student</option>
                    {% for etudiant in etudiants %}
                        <option value="{{ etudiant }}">{{ etudiant }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
      </div>
     
    </form>
    <div class="col-md-6">
        <table>
            <tr>
                <h1>All student statistics</h1>
            </tr>
           
            <tr>
                <td>
                    <div class="row mt-3 pt-3">
                        <div >
                            <canvas id="myChart2" width="1500" height="1000"></canvas>
                            <script>
                                var ctx = document.getElementById('myChart2').getContext('2d');
          var Happy = 1;
          var Sad = 2;
          var Angry = 3;
          var Neutral= 4;
          var Surprise= 5;
          var Disgust= 6;
          var Fear= 7;
          
          var emotions = ['Happy', 'Sad', 'Angry', 'Neutral', 'Surprise', 'Disgust', 'Fear'];
          
          var myChart = new Chart(ctx, {
              type: 'line',
              data: {
                  labels: [{% for d in data %}'{{ d.detection_time|date:"H:i:s" }}',{% endfor %}],
                  datasets: [{
                      label: 'Emotions',
                      data: [{% for d in data %}{{ d.emotion }}{% if not forloop.last %},{% endif %}{% endfor %}],
                      fill: false,
                      borderColor: 'rgb(75, 192, 192)',
                      tension: 0.1
                  
                  }]
              },
          
              options: {
                scales: {
                    yAxes: [{
                        beginAtZero: true,
                        
                        ticks: {
                            maxTicksLimit : 7,
                            callback: function(value, index, ticks) {
                               if(value == 1){
                                return  'Happy';}
                                else if(value == 2){
                                    return  'Sad';
                                }
                                else if(value == 3){
                                    return  'Angry';}
                                else if(value == 4){
                                      return  'Neutral';}
                                else if(value == 5){
                                        return  'Surprise';}
                                else if(value == 6){
                                          return  'Disgust';}
                                else if(value == 7){
                                            return  'Fear';}
                                else return '';
                            }
                        }
                    }]
                }
            }
            });
                            </script>
                        </div>
                    </div>
                </td>
              
            </tr>
            
        </table>
        <div id="myMessage">
    </div>
    
      



    <script>
        var Happy = 1;
        var Sad = 2;
        var Angry = 3;
        var Neutral= 4;
        var Surprise= 5;
        var Disgust= 6;
        var Fear= 7;
        
        var emotions = ['Happy', 'Sad', 'Angry', 'Neutral', 'Surprise', 'Disgust', 'Fear'];
        var sadCount = 0;
        var AngryCount = 0;
        var DisgustCount = 0;
        var FearCount = 0;
        var emotionsCount = [0, 0, 0, 0, 0, 0, 0];
    
    {% for d in data %}
    emotionsCount[{{ d.emotion }} - 1]++;
    {% endfor %}
    
    var totalEmotions = 0;
    for (var i = 0; i < emotionsCount.length; i++) {
    totalEmotions += emotionsCount[i];
    }
       {% for d in data %}
       if ({{ d.emotion }} === 2) {
         sadCount++;
    } if ({{ d.emotion }} === 3) {
      AngryCount++;
    } if ({{ d.emotion }} === 6) {
    FearCount++;
    }if ({{ d.emotion }} === 7) {
    DisgustCount++;
    }
    {% endfor %}
    var messageDiv = document.getElementById("myMessage");
    var threshold = 50; // seuil de détection d'émotions négatives
    var negativeEmotions = sadCount + AngryCount + FearCount + DisgustCount;
    var percentNegative = Math.floor((negativeEmotions / totalEmotions) * 100);

    if (percentNegative > threshold) {
        var message = "The negative emotions of all students are at " + percentNegative + "%. Do you want to be redirected to recommendations?";
        messageDiv.innerHTML = message;
        messageDiv.style.background = "#f2dede";
        messageDiv.style.border = "1px solid #ebccd1";
        messageDiv.style.color = "#a94442";
        messageDiv.style.padding = "10px";
        messageDiv.style.borderRadius = "10px";
        
        var okButton = document.createElement("button");
        okButton.innerHTML = "OK";
        okButton.style.background = "#d9534f";
        okButton.style.border = "1px solid #d43f3a";
        okButton.style.color = "#fff";
        okButton.style.padding = "5px 10px";
        okButton.style.marginLeft = "20px";
        okButton.style.borderRadius = "10px";
        okButton.onclick = function() {
            window.location.href = "/recommendationt";
        };
        messageDiv.appendChild(okButton);

       
    }  else {
        var message = "All emotions are positive!";
  messageDiv.innerHTML = message;
  messageDiv.style.background = "#dff0d8";
  messageDiv.style.border = "1px solid #d6e9c6";
  messageDiv.style.color = "#3c763d";
  messageDiv.style.padding = "10px";
  messageDiv.style.borderRadius = "10px";
  messageDiv.style.fontWeight = "bold";
  var okButton = document.createElement("button");
  okButton.innerHTML = "OK";
  okButton.style.background = "green";
  okButton.style.border = "1px solid #d6e9c6";
  okButton.style.color = "#fff";
  okButton.style.padding = "5px 10px";
  okButton.style.marginLeft = "20px";
  okButton.style.borderRadius = "10px";
  okButton.onclick = function() {
      window.location.href = "/recommendationtpositive";
  };
  messageDiv.appendChild(okButton);

  
}






    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        function showDashboard() {
            let name = document.getElementById('name-input').value;
            let url = `/dashboard_teacher/${name}`;
            url = url.replace(/\s+/g, '-').toLowerCase();
    
            window.open(url, '_self');
        }
    </script>
        
</div>
{% endblock %}


















